* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1350px;
}

.table-wrapper {
    /* position: relative; */
    background-image: url(/img/wp3152222.jpg);
    width: 1350px;
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.header-text {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.header-text::first-letter {
    color: red;
    font-family: cursive;
    font-size: 70px;
}

.table-list {
    position: absolute;
    left: 375px;
    width: 600px;
}

.time-table {
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #111;
    padding: 5px;
}

.table-row:first-child {
    background-color: #bbb;
    font-size: 18px;
}

tr:nth-child(2n) {
    background-color: rgb(238,238,97);
}

tr:nth-child(2n+1) {
    background-color: rgb(56,184,216);
}

.total:first-child {
    position: absolute;
    background-color: #bbb;
    font-size: 18px; 
}
.total-list {
    width: 430px;   
}

.total-price {
    width: 155px;
}